:root{
    --primary-color: #f6acb0;
    --light-sec-color: #abcbe7;
    --dark-sec-color: #76aad8;
    --gray-white: #CBCBCB;
    --white: #FEFEFE;
}

#root{
 box-sizing: border-box;  
 margin: 0px; 
 padding: 0px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 scroll-behavior: smooth;
}

/* --------------------------------Landing Page Section--------------------------- */

/* ------------------------------------------Navbar section------------------------------------ */

.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: var(--dark-sec-color);
   }

.navbar ul{
   display: flex;
   flex: 1;
   justify-content: space-evenly;
}
.navbar ul li{
   list-style-type: none;
   display: inline-block;
   margin: 0 24px;
}
.navbar ul li a{
   text-decoration: none;
   color: var(--white);
   text-transform: uppercase;

}
.buttonNav{
   padding: 0.4rem;
   background-color: Blue ;
   border-radius: 50px;
   margin: 10px;
   font-size: 10px;

}

/* ---------------------------hero section-------------------------------------------------------- */
.landing{
    overflow-x: hidden;
}
 
.row{
    padding: 0;
    margin: 3.2rem auto;
}

.row-1::after{
  content: '';
  padding: 1rem;
  height: 74%;
  position: absolute;
  right: 0;
  bottom: 2%;
  background-color: var(--primary-color);
}

.hero-section{
    margin: 12px;
}
small{
    text-transform: uppercase;
}
.cta-btn{
    padding: 1.2rem 2.4rem;
    background-color:var(--dark-sec-color) ;
    color: var(--white);
    letter-spacing: 1.6px;
    border: none;
    text-transform: uppercase;
}


/* ---------------------------info section----------------------------------------------------- */
.info-section{
    margin: 2rem;
    max-width: 540px;
}
p{
    letter-spacing: 1px;
    line-height: 1.4rem;
}

hr{
    width: 60%;
    margin: 2.4rem 0;
    border: 5px solid;
}
/* ----------------------------------comm------------------ */
.comm-section::before{
    content: '';
    padding: 1rem;
    height: 90%;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: var(--light-sec-color);
    z-index: -2;
}

.community{
    padding: 0;
    width: 72%;   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fff;

}

.comm{
    margin: 0 4px;
}

.community::before{
    content: '';
    padding:  1.3rem;
    height: 56%;
    width: 48%;
    position: absolute;
    left: 14%;
    background-color: var(--primary-color);
    z-index: -1;
    margin-top: 8rem;
    }
/* -------------------------------Subscribe section------------------------------- */
.coaching{
    margin: 6rem;
}

.subs{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-sec-color);
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 3px;
}

.subs input{
    width: 50%;
    padding: 10px 24px;
}

.subs button{
    padding: 10px 24px;
    background-color: var(--primary-color);
    border: none;
}


/* ------------------------------About Section-------------------------------------------------- */

.about{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 1.6px;
    max-width: 480px
    }
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section{
        padding: 2rem;
        margin: 2rem 1rem;
    }
    .about2 {
        margin: 2.6rem;
        min-width: 560px
    }
    .about2::before{
        content: '';
        padding: 1.4rem;
        height: 90%;
        width: 72%;
        right: 24%;
        position: absolute;
        background-color: var(--primary-color);
        z-index: -1;
        margin-bottom: 3.2rem;
    }

    .about2::after{
        content: '';
        padding: 1rem;
        height: 84%;
        width: 62%;
        left: 24%;
        position: absolute;
        background-color: var(--light-sec-color);
        z-index: -1;
        margin-top: 2.4rem;
    }

    .col{
        background-color: var(--gray-white);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin: 16px;
        padding: 2rem;

    }
    /* /* --------------------------Booking Section-------------------------------------- */

.card-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center
    
}
    .card{
        flex-basis: 18%;
        border: 16px solid var(--white);
        margin: 12px;
    }
    .card .img{
        width: 100%;
        overflow: hidden;
    }
    .heading{
    background-image: linear-gradient( #abcbe7  0 30%,  #FEFEFE 30% 100%);
    text-align: center; 
    padding-top: 4rem;      
     margin: 2rem 0;
    }

    /* -------------------------------------blog--------------------------------------------- */

    .blog-card{
        padding: 2rem;
        margin: 3rem;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    /* -------------------reviews------------------------------------- */
    .card-r{   
        flex-basis: 23%;     
        min-width: 160px;   
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin: 1rem;
        padding: 1rem;;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    .card-r img{
        border-radius: 50%;
        width: 140px;
    }

    .workWithUs{
        margin: 2.4rem;
        width: 70%;
        border : 2px black;
        background-color: blanchedalmond;

    }
         /*=-------------------------Footer section ---------------------------------*/
        .footer{
            background-color: #000;    
            color: #fff;
            text-align: center;
        }
         .footer-text{
            display: flex;
            align-items: center;
            justify-content: space-around;
         }

         .footer ul li{
            list-style: none;
            margin: 16px
         }