:root{
    --primary-color: #f6acb0;
    --light-sec-color: #abcbe7;
    --dark-sec-color: #76aad8;
    --gray-white: #CBCBCB;
    --white: #FEFEFE;
}

body{
 box-sizing: border-box;  
 margin: 0px; 
 padding: 0px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 scroll-behavior: smooth;
 overflow-x: hidden;
}


/* --------------------------------Landing Page Section--------------------------- */

/* ------------------------------------------Navbar section------------------------------------ */

.navbar{
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: var(--dark-sec-color);
    align-items: center;
    justify-content: space-between;
   }

.navbar ul li{
   list-style-type: none;
   display: inline-block;
   margin: 0 32px;
}
.navbar ul li a{
   text-decoration: none;
   color: var(--white);
   text-transform: uppercase;

}
.navbar ul li a:hover{
   text-decoration:underline
}

.icon{
    display: none;
}

/* ---------------------------hero section-------------------------------------------------------- */
.landing{
    overflow-x: hidden;
}
 
.row{
    padding: 0;
    margin: 3.2rem auto;
}

.row-1::after{
  content: '';
  padding: 1rem;
  height: 74%;
  position: absolute;
  right: 0;
  bottom: 2%;
  background-color: var(--primary-color);
}

.hero-section{
    margin: 8px;
}
small{
    text-transform: uppercase;
}
.hero-section img{
    width: 560px;
}
.cta-btn{
    padding: 1.2rem 2.4rem;
    background-color:var(--dark-sec-color) ;
    color: var(--white);
    letter-spacing: 1.6px;
    border: none;
    text-transform: uppercase;
}


/* ---------------------------info section----------------------------------------------------- */
.info-section{
    margin: 2rem;
    max-width: 540px;
}
p{
    letter-spacing: 1px;
    line-height: 1.4rem;
}

hr{
    width: 60%;
    margin: 2.4rem 0;
    border: 5px solid;
}
/* ----------------------------------comm------------------ */
.comm-section::before{
    content: '';
    padding: 1rem;
    height: 90%;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: var(--light-sec-color);
    z-index: -2;
}

.community{
    padding: 0;
    width: 72%;   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fff;

}

.comm{
    margin: 0 4px;
}

.community::before{
    content: '';
    padding:  1.3rem;
    height: 56%;
    width: 48%;
    position: absolute;
    left: 14%;
    background-color: var(--primary-color);
    z-index: -1;
    margin-top: 8rem;
    }
/* -------------------------------Subscribe section------------------------------- */
.coaching{
    margin: 6rem;
}
.coaching-section{
    margin: 3rem;
}
.sub{
    font-size: 16px;
}
.subs{    
    background-color: var(--light-sec-color);
    padding-bottom: 8px;    
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subs input{
    width: 50%;
    padding: 12px 24px;}

.subs input[placeholder]{
    font-size: 14px;
    line-height: 3px;
}

.subs button{
    padding: 12px 24px;
    background-color: var(--primary-color);
    border: none;
}


/* ------------------------------About Section-------------------------------------------------- */

.about{
    font-size: large;
    word-spacing: 1.6px;
    max-width: 480px
    }
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section{
        padding: 2rem;
        margin: 2rem 1rem;
    }
    .about2 {
        margin: 2.6rem;
        min-width: 560px
    }
    .about2::before{
        content: '';
        padding: 0;
        height: 54%;
        width: 24%;
        left: 46%;
        position: absolute;
        background-color: var(--primary-color);
        z-index: -1;
        margin-top: 2rem;
    }

    .about2::after{
        content: '';
        padding: 8px;
        right: 12%;
        height: 56%;
        width: 24%;
        position: absolute;
        background-color: var(--light-sec-color);
        z-index: -1;
        margin-top: 1.6rem;
    }

    .col{
        background-color: var(--gray-white);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin: 16px;
        padding: 2rem;

    }
    /*--------------------------Booking Section-------------------------------------- */

.card-row{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center
    
}
    .card{
        flex-basis: 20%;
        border: 16px solid var(--white);
        margin: 8px;
    }

    .card .img{
        width: 100%;
        overflow: hidden;
    }
    .title{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .heading{
    background-image: linear-gradient( #abcbe7  0 30%,  #FEFEFE 30% 100%);
    padding-top: 4rem;  
    text-align: center;  
     margin: 2rem 0;
    }

    /* -------------------------------------blog--------------------------------------------- */
    .connect{
        text-align: center;
        margin: 2rem;
        padding: 2rem;
    }

   .post{
        flex-basis: 23%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        background-color: var(--gray-white);
     }
     .blog-row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;    
     }

    .blog-card{
        flex-basis: 30%;
        padding: 1rem;
        margin: 24px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
        background-color: #fff;
    }
    .blog-card img{
        width: 100%;
    }
    .blog-link{
        text-decoration: none;
        color: #000;
    }
    

     /*=-------------------------Footer section ---------------------------------*/
        .footer{
            background-color: #000;    
            color: #fff;
            text-align: center;
            margin: 0;
        }
        .show{
            display: none;
        }
         .footer-text{
            display: flex;
            align-items: center;
            justify-content: space-around;
         }

         .footer ul li{
            list-style: none;
            margin: 16px
         }


         /* ------------------------------Media queries------------------------------------------------- */
         @media screen and (max-width: 320px) {
            .navbar img {
                width: 116px;
               }
            
             .nav-list{
                display: none;
                position: absolute;           
                top: 50%;   
                width: 100%;
                background-color: var(--dark-sec-color);
                overflow: hidden;
                transition: all 0.2s ease-in
             }  

             .nav-list.active{
                display: block;
             }
  
            .navbar ul li{
               display: block;
               margin: 16px 8px;
            }
            .icon{
                display: block;
            }

            /* -----------------hero sec-------- */
            .row{
                padding: 0;
                margin: 3.2rem auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
                text-align: center;
            }
            section{
                margin: 0;
                padding: 0;
            }
            
            .row-1::after{
              content: '';
              padding: 2px;
            }
            
            .hero-section{
                margin: 8px;
                text-align: center;
            }
            small{
                text-transform: uppercase;
            }
            .hero-section img{
                width: 300px;
            }
            h1{
                font-size: 24px;
            }
            .cta-btn{
                padding: 1rem 1.6rem;
                margin: 0 auto;
            }

            /* -----------info ----------------- */            
            .info-section{
                margin: 16px;
                max-width: 280px;
            }
            p{
                letter-spacing: 1px;
                line-height: 1.2rem;
            }
            
            hr{
                width: 70%;
                margin: 1.8rem;
                border: 5px solid;
            }
            /* ------------------comm-------------- */

            .comm-section{
                background-color: var(--light-sec-color);
                padding: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .comm-section::before{
                display: none;
                content: '';
                padding: 2.4rem;
                height: 90%;
                width: 100%;
                left: 0;
                position: absolute;
                background-color: var(--light-sec-color);
                z-index: -2;
            }
            
            .community{
                padding: 0px;
            }
            .comm{
                margin: 0px;
            }

            .comm img{
                width: 260px;
            }

            .community::before{
                display: none;
                content: '';
                padding:  1rem;
                height: 24%;
                width: 48%;
                position: absolute;
                left: 0;
                background-color: var(--primary-color);
                z-index: -1;
                margin-top: 8rem;
                }
            /* ----------------------coaching------------------------ */
                .coaching{
                    margin: 1rem;
                }
                .coaching-section{
                    margin: 0;
                    padding: 16px;
                }
                .coaching img{
                    width: 300px;
                }   

                .connect{
                    text-align: center;
                    margin: 0;
                }

            /*-------------subscribe sec-----------------------*/
               .subs {   
                    margin: 16px 4px 0 4px;
                    text-align: center;
                }
                .sub{
                    display: block;
                }
                .subs input{
                    width: 64%;
                    padding: 16px 32px;}
                
                .subs input[placeholder]{
                    font-size: 14px;
                    line-height: 3px;
                }

                .subs button{
                    margin-top: 4px;
                    padding: 16px 32px;
                    background-color: var(--primary-color);
                    border: none;
                }
                /* -------------------------------------- */
                
              .about2::before{
                 display: none;
                       }

              .about2::after{
                    display: none;
                      }
                .about2 img{
                        width: 300px;
                      }

                /* ----------------------------booking----------------- */
                .card-row{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center
                    
                }
                    .card{
                        flex-basis: 100%;
                        border: 16px solid var(--white);
                        margin: 8px;
                        text-align: center;
                    }
                    .heading{
                    background-image: linear-gradient( #abcbe7  0 20%,  #FEFEFE 20% 100%);
                    padding-top: 2rem;  
                     margin: 2rem 0;
                    }

                    /* ------------------blog------------------------------------ */
                     .blog-row{
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        flex-direction: column;
                     }
                     .blog-sec{
                        text-align: center;
                        padding-top: 1.6rem;
                     }
                    .blog-card{
                        flex-basis: 30%;
                        padding: 1rem;
                        margin: 24px;
                        z-index: 1;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
                        background-color: #fff;
                    }
                    .blog-card img{
                        width: 100%;
                    }
                    .blog-link{
                        text-decoration: none;
                        color: #000;
                    }
                    
                    
                    
                /* --------------footer-section------------------------------ */
                
                .footer{
                    padding: 4px;
                }
                .show{
                    display: block;
                }
                .hide{
                    display: none;
                }
                 .footer-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                 }
                 .footer ul{
                    padding: 16px;
                 }
        
                 .footer ul li{
                    margin: 8px
                 }
        
                
         }
                 /* ------------------------------Media queries------------------------------------------------- */
                @media screen and (min-width: 321px) and (max-width: 400px){
      
                       .navbar img {
                        width: 116px;
                       }
                    
                     .nav-list{
                        display: none;
                        position: absolute;           
                        top: 50%;   
                        width: 100%;
                        background-color: var(--dark-sec-color);
                        overflow: hidden;
                        transition: all 0.2s ease-in
                     }  

                     .nav-list.active{
                        display: block;
                     }
          
                    .navbar ul li{
                       display: block;
                       margin: 16px 8px;
                    }
                    .icon{
                        display: block;
                    }
        
                    /* -----------------hero sec-------- */
                    .row{
                        padding: 0;
                        margin: 3.2rem auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;                
                        text-align: center;
                    }
                    section{
                        margin: 0;
                        padding: 0;
                    }
                    
                    .row-1::after{
                      content: '';
                      padding: 2px;
                    }
                    
                    .hero-section{
                        text-align: center;
                    }
                    small{
                        text-transform: uppercase;
                    }
                    .hero-section img{
                        width: 320px;
                    }
                    h1{
                        font-size: 24px;
                    }
                    .cta-btn{
                        padding: 1rem 1.6rem;
                        margin: 0 auto;
                    }
        
                    /* -----------info ----------------- */            
                    .info-section{
                        margin: 16px;
                        max-width: 320px;
                    }
                    p{
                        letter-spacing: 1px;
                        line-height: 1.2rem;
                    }
                    
                    hr{
                        width: 70%;
                        margin: 1.8rem;
                        border: 5px solid;
                    }
                    /* ------------------comm-------------- */
        
                    .comm-section{
                        background-color: var(--light-sec-color);
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    .comm-section::before{
                        display: none;
                        content: '';
                        padding: 2.4rem;
                        height: 90%;
                        width: 100%;
                        left: 0;
                        position: absolute;
                        background-color: var(--light-sec-color);
                        z-index: -2;
                    }
                    
                    .community{
                        padding: 0px;
                    }
                    .comm{
                        margin:0;
                    }
        
                    .comm img{
                        width: 320px;
                    }
        
                    .community::before{
                        display: none;
                        content: '';
                        padding:  1rem;
                        height: 24%;
                        width: 48%;
                        position: absolute;
                        left: 0;
                        background-color: var(--primary-color);
                        z-index: -1;
                        margin-top: 8rem;
                        }
                    /* ----------------------coaching------------------------ */
                        .coaching{
                            margin: 1rem;
                        }
                        .coaching-section{
                            margin: 0;
                            padding: 16px;
                        }
                        .coaching img{
                            width: 340px;
                        }   
        
                        .connect{
                            text-align: center;
                            margin: 0;
                        }
                        .connect img{
                            width: 340px;
                        }
                    /*-------------subscribe sec-----------------------*/
                       .subs {   
                            margin: 16px 4px 0 4px;
                            text-align: center;
                        }
                        .sub{
                            display: block;
                        }
                        .subs input{
                            width: 64%;
                            padding: 16px 32px;}
                        
                        .subs input[placeholder]{
                            font-size: 14px;
                            line-height: 3px;
                        }
        
                        .subs button{
                            margin-top: 4px;
                            padding: 16px 32px;
                            background-color: var(--primary-color);
                            border: none;
                        }          
                      /*--------------------------------------------  */
                         .about2::before{
                            display: none;
                      }

                          .about2::after{
                            display: none;
                     }
                         .about2 img{
                            width: 340px;
                     }
        
                    /* ----------------------------booking----------------- */
                        .card-row{
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: center
                            
                        }
                            .card{
                                flex-basis: 100%;
                                border: 16px solid var(--white);
                                margin: 8px;
                                text-align: center;
                            }
                            .heading{
                            background-image: linear-gradient( #abcbe7  0 20%,  #FEFEFE 20% 100%);
                            padding-top: 2rem;  
                             margin: 2rem 0;
                            }
        
                            /* ------------------blog------------------------------------ */
                             .blog-row{
                                display: flex;
                                justify-content: center;
                                align-items: center; 
                                flex-direction: column;
                             }
                             .blog-sec{
                                text-align: center;
                                padding-top: 3rem;
                             }
                            .blog-card{
                                flex-basis: 30%;
                                padding: 1rem;
                                margin: 24px;
                                z-index: 1;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
                                background-color: #fff;
                            }
                            .blog-card img{
                                width: 100%;
                            }
                            .blog-link{
                                text-decoration: none;
                                color: #000;
                            }
                            
                            
                            
                        /* --------------footer-section------------------------------ */
                        
                        .footer{
                            padding: 4px;
                        }
                        .show{
                            display: block;
                        }
                        .hide{
                            display: none;
                        }
                         .footer-text{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                         }
                         .footer ul{
                            padding: 16px;
                         }
                
                         .footer ul li{
                            margin: 8px
                         }
                
                        
                 }
                 /* --------------------------------------------------------------- */
                 @media screen and (min-width: 401px) and (max-width: 768px){
                    .navbar img {
                        width: 116px;
                       }
                    
                     .nav-list{
                        display: none;
                        position: absolute;           
                        top: 50%;   
                        width: 100%;
                        background-color: var(--dark-sec-color);
                        overflow: hidden;
                        transition: all 0.2s ease-in
                     }  

                     .nav-list.active{
                        display: block;
                     }
          
                    .navbar ul li{
                       display: block;
                       margin: 16px;
                    }
                    .icon{
                        display: block;
                    }
        
                    /* -----------------hero sec-------- */
                    .row{
                        padding: 0;
                        margin: 3.2rem auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;                
                        text-align: center;
                    }
                    section{
                        margin: 0;
                        padding: 0;
                    }
                    
                    .row-1::after{
                      content: '';
                      padding: 2px;
                    }
                    
                    .hero-section{
                        margin: 8px;
                        text-align: center;
                    }
                    small{
                        text-transform: uppercase;
                    }
                    .hero-section img{
                        width: 400px;
                    }
                    h1{  
                        font-size: 24px;
                    }
                    .cta-btn{
                        padding: 1rem 1.6rem;
                        margin: 0 auto;
                    }
        
                    /* -----------info ----------------- */            
                    .info-section{
                        margin: 16px;
                        max-width: 400px;
                    }
                    p{
                        letter-spacing: 1px;
                        line-height: 1.2rem;
                    }
                    
                    hr{
                        width: 70%;
                        margin: 1.8rem;
                        border: 5px solid;
                    }
                    /* ------------------comm-------------- */
        
                    .comm-section{
                        background-color: var(--light-sec-color);
                        padding: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    .comm-section::before{
                        display: none;
                        content: '';
                        padding: 2.4rem;
                        height: 90%;
                        width: 100%;
                        left: 0;
                        position: absolute;
                        background-color: var(--light-sec-color);
                        z-index: -2;
                    }
                    
                    .community{
                        padding: 8px;
                    }
                    .comm{
                        margin:4px;
                    }
        
                    .comm img{
                        width: 280px;
                    }
        
                    .community::before{
                        display: none;
                        content: '';
                        padding:  1rem;
                        height: 24%;
                        width: 48%;
                        position: absolute;
                        left: 0;
                        background-color: var(--primary-color);
                        z-index: -1;
                        margin-top: 8rem;
                        }
                    /* ----------------------coaching------------------------ */
                        .coaching{
                            margin: 1rem;
                        }
                        .coaching-section{
                            margin: 0;
                            padding: 16px;
                        }
                        .coaching img{
                            width: 390px;
                        }   
        
                        .connect{
                            text-align: center;
                            margin: 0;
                        }
                        .connect img{
                            width: 390px;
                        }
                    /*-------------subscribe sec-----------------------*/
                       .subs {   
                            margin: 16px 4px 0 4px;
                            text-align: center;
                        }
                        .sub{
                            display: block;
                        }
                        .subs input{
                            width: 64%;
                            padding: 16px 32px;}
                        
                        .subs input[placeholder]{
                            font-size: 14px;
                            line-height: 3px;
                        }
        
                        .subs button{
                            margin-top: 4px;
                            padding: 16px 32px;
                            background-color: var(--primary-color);
                            border: none;
                        }

                        /* ---------------------------------------about------- */
                        .about2::before{
                            display: none;
                      }
                      .about-sec{
                        padding: 1rem;
                      }

                        .about2::after{
                            display: none;
                     }
                         .about2 img{
                            width: 400px;
                     }

                        /* ----------------------------booking----------------- */
                        .card-row{
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: center
                            
                        }
                            .card{
                                flex-basis: 100%;
                                border: 16px solid var(--white);
                                margin: 8px;
                                text-align: center;
                            }
                            .heading{
                            background-image: linear-gradient( #abcbe7  0 20%,  #FEFEFE 20% 100%);
                            padding-top: 2rem;  
                             margin: 2rem 0;
                            }
        
                            /* ------------------blog------------------------------------ */
                             .blog-row{
                                display: flex;
                                justify-content: center;
                                align-items: center; 
                                flex-direction: column;
                             }
                             .blog-sec{
                                text-align: center;
                                padding-top: 4rem;
                             }
                            .blog-card{
                                flex-basis: 30%;
                                padding: 1rem;
                                margin: 24px;
                                z-index: 1;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
                                background-color: #fff;
                            }
                            .blog-card img{
                                width: 100%;
                            }
                            .blog-link{
                                text-decoration: none;
                                color: #000;
                            }
                            
                            
                            
                        /* --------------footer-section------------------------------ */
                        
                        .footer{
                            padding: 4px;
                        }
                        .show{
                            display: block;
                        }
                        .hide{
                            display: none;
                        }
                         .footer-text{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                         }
                         .footer ul{
                            padding: 16px;
                         }
                
                         .footer ul li{
                            margin: 8px
                         }
                
                        
                 }

            /* ------------------------------------------------------------------ */
                                  @media screen and (min-width: 768px) and (max-width: 1024px){
                                    .navbar img {
                                        width: 116px;
                                       }
                                    
                                     .nav-list{
                                        display: none;
                                        position: absolute;           
                                        top: 50%;   
                                        width: 100%;
                                        background-color: var(--dark-sec-color);
                                        overflow: hidden;
                                        transition: all 0.2s ease-in
                                     }  
                
                                     .nav-list.active{
                                        display: block;
                                     }
                          
                                    .navbar ul li{
                                       display: block;
                                       margin: 16px;
                                    }
                                    .icon{
                                        display: block;
                                    }
                        
                                    /* -----------------hero sec-------- */
                                    .row{
                                        padding: 0;
                                        margin: 3.2rem auto;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;                
                                        text-align: center;
                                    }
                                    section{
                                        margin: 0;
                                        padding: 0;
                                    }
                                    
                                    .row-1::after{
                                      content: '';
                                      padding: 4px;
                                    }
                                    
                                    .hero-section{
                                        margin: 8px;
                                        text-align: center;
                                    }
                                    small{
                                        text-transform: uppercase;
                                    }
                                    .hero-section img{
                                        width: 640px;
                                    }
                                    h1{
                                        font-size: 24px;
                                    }
                                    .cta-btn{
                                        padding: 1rem 1.6rem;
                                        margin: 0 auto;
                                    }
                        
                                    /* -----------info ----------------- */            
                                    .info-section{
                                        margin: 16px;
                                        max-width: 640px;
                                    }
                                    p{
                                        letter-spacing: 1px;
                                        line-height: 1.2rem;
                                    }
                                    
                                    hr{
                                        width: 90%;
                                        margin: 2rem;
                                        border: 5px solid;
                                    }
                                    /* ------------------comm-------------- */
                        
                                    .comm-section{
                                        background-color: var(--light-sec-color);
                                        padding: 2rem;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                        
                                    .comm-section::before{
                                        display: none;
                                        content: '';
                                        padding: 2.4rem;
                                        height: 90%;
                                        width: 100%;
                                        left: 0;
                                        position: absolute;
                                        background-color: var(--light-sec-color);
                                        z-index: -2;
                                    }
                                    
                                    .community{
                                        padding: 0px;
                                    }
                                    .comm{
                                        margin:4px;
                                    }
                        
                                    .comm img{
                                        width: 640px;
                                    }
                        
                                    .community::before{
                                        display: none;
                                        content: '';
                                        padding:  1rem;
                                        height: 24%;
                                        width: 48%;
                                        position: absolute;
                                        left: 0;
                                        background-color: var(--primary-color);
                                        z-index: -1;
                                        margin-top: 8rem;
                                        }
                                    /* ----------------------coaching------------------------ */
                                        .coaching{
                                            margin: 1rem;
                                        }
                                        .coaching-section{
                                            margin: 0;
                                            padding: 16px;
                                        }
                                        .coaching img{
                                            width: 640px;
                                        }   
                        
                                        .connect{
                                            text-align: center;
                                            margin: 0;
                                        }
                                        .connect img{
                                            width: 640px;
                                        }
                                    /*-------------subscribe sec-----------------------*/
                                       .subs {   
                                            margin: 16px 4px 0 4px;
                                            text-align: center;
                                        }
                                        .sub{
                                            display: block;
                                        }
                                        .subs input{
                                            width: 64%;
                                            padding: 16px 32px;}
                                        
                                        .subs input[placeholder]{
                                            font-size: 14px;
                                            line-height: 3px;
                                        }
                        
                                        .subs button{
                                            margin-top: 4px;
                                            padding: 16px 32px;
                                            background-color: var(--primary-color);
                                            border: none;
                                        }
                        
                                        /* ----------------------------booking----------------- */
                                        .card-row{
                                            display: flex;
                                            flex-flow: row wrap;
                                            align-items: center;
                                            justify-content: center
                                            
                                        }
                                            .card{
                                                flex-basis: 100%;
                                                border: 16px solid var(--white);
                                                margin: 8px;
                                                text-align: center;
                                            }
                                            .heading{
                                            background-image: linear-gradient( #abcbe7  0 20%,  #FEFEFE 20% 100%);
                                            padding-top: 2rem;  
                                             margin: 2rem 0;
                                            }
                        
                                            /* ------------------blog------------------------------------ */
                                             .blog-row{
                                                display: flex;
                                                justify-content: center;
                                                align-items: center; 
                                                flex-direction: column;
                                             }
                                             .blog-sec{
                                                text-align: center;
                                                padding-top: 1.6rem;
                                             }
                                            .blog-card{
                                                flex-basis: 30%;
                                                padding: 1rem;
                                                margin: 24px;
                                                z-index: 1;
                                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
                                                background-color: #fff;
                                            }
                                            .blog-card img{
                                                width: 100%;
                                            }
                                            .blog-link{
                                                text-decoration: none;
                                                color: #000;
                                            }
                                            
                                            
                                            
                                        /* --------------footer-section------------------------------ */
                                        
                                        .footer{
                                            padding: 4px;
                                        }
                                        .show{
                                            display: block;
                                        }
                                        .hide{
                                            display: none;
                                        }
                                         .footer-text{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                         }
                                         .footer ul{
                                            padding: 16px;
                                         }
                                
                                         .footer ul li{
                                            margin: 8px
                                         }
                                
                                        
                                 }